[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/cpython"]
	path = thirdparty/cpython
	url = https://github.com/python/cpython
